<div class="title_banner">
    <h1>StaticPages#about</h1>
</div>

<ul class="nav">
  <li><a href="/">Home</a></li>
  <li><a href="about">About Us</a></li>
  <li><a href="roll">Challenge</a></li>  
  <li><a href="help">Help Me!</a></li>
</ul>

<p>Find me in app/views/static_pages/about.html.erb</p>
