<div class="title_banner">
    <p id="notice">Create your own character here</p>
    <h1>New Character</h1>
</div>

<ul class="nav">
  <li><a href="/">Home</a></li>
  <li><a href="about">About Us</a></li>
  <li><a href="roll">Challenge</a></li>  
  <li><a href="help">Help Me!</a></li>
</ul>

<div class="directory">
    <%= render 'form', character: @character %>

    <%= link_to 'Back', characters_path %>
</div>